/*
    Set variables
*/

$white: #FFF;
$black: #000;

/* Brand Colors */
$color-main: #263859;
$color-main-dark: #17223b;
$color-main-light: #6b778d;
$color-accent: #ff6768;
$color-neutral: #B3B3B3;
$color-error: red;
$color-angular: #C30E2D;

/* Style Properties */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-medium: 600;
$weight-regular: 400;
$weight-light: 300;

/* Padding */
$padding-sm: rem(5px);
$padding-md: rem(10px);
$padding-lg: rem(15px);

/* Margin */
$margin-sm: rem(5px);
$margin-md: rem(10px);
$margin-lg: rem(15px);
