<section class="about">
  <div class=container-fluid>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="about--picture">
          <img src="../../assets/images/me.jpeg">
        </div>
        <div class="about--info">
          <div><span class="accent">Name: </span>Ryan Thames</div>
          <div><span class="accent">Location: </span>New Braunfels, TX</div>
          <div><span class="accent">Email: </span>rthames62@gmail.com</div>
          <div><span class="accent">Phone: </span>(469)999-7470</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="about-wrapper">
          <h1>About</h1>
          <p>Software Engineer at UserTesting. I have been building things on the internet for over 7 years. </p>
          <p>Passionate about writing clean, reusable code. Success in my role is measured by delivering a well architected and tested product with a great user-experience.</p>
        </div>
        <div class="skills-wrapper">
          <h1>Skills</h1>
          <div class="skills">
            <figure class="skill">
              <div class="skill--label">Angular</div>
              <div class="skill--expertise-bar" style="width: 70%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">RxJS</div>
              <div class="skill--expertise-bar" style="width: 70%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Typescript</div>
              <div class="skill--expertise-bar" style="width: 70%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">JavaScript</div>
              <div class="skill--expertise-bar" style="width: 80%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">SASS</div>
              <div class="skill--expertise-bar" style="width: 70%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">HTML</div>
              <div class="skill--expertise-bar" style="width: 90%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">CSS</div>
              <div class="skill--expertise-bar" style="width: 80%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">React.js</div>
              <div class="skill--expertise-bar" style="width: 40%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Node.js</div>
              <div class="skill--expertise-bar" style="width: 40%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Express JS</div>
              <div class="skill--expertise-bar" style="width: 40%"></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
