@import '../../sass/output.scss';

.about {
  &--picture {
    img {
      // border-radius: 50%;
      max-width: 100%;
      border: 4px solid $color-accent;
    }
  }

  &--info {
    margin-top: 20px;

    div {
      color: $white;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.skill {
  width: 100%;
  max-width: 700px;
  height: 30px;
  background: $color-neutral;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &--label {
    position: absolute;
    top: 8px;
    left: 20px;
    z-index: 10;
    color: $color-main-dark;
    font-weight: $weight-bold;
  }

  &--expertise-bar {
    width: 100%;
    height: 100%;
    background: $color-accent;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
