<section class="portfolio">
  <h1>Recent Work</h1>
  <div class=container-fluid>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background spotify">

          </div>
          <div class="portfolio--desc">
            <h5>Spotify Clone V2</h5>
            <p><b>Technologies:</b> Angular, Typescript, SASS, Node.js, Express JS, Spotify API</p>
            <div><a href="https://spoofify-web.herokuapp.com/" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2019</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background isn">

          </div>
          <div class="portfolio--desc">
            <h5>ISNetworld Website</h5>
            <p><b>Technologies:</b> Angular, Typescript, SASS, Angular Internationalization, Angular Universal</p>
            <div><a href="https://www.isnetworld.com" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2019</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background matchflick">

          </div>
          <div class="portfolio--desc">
            <h5>Matchflick</h5>
            <p><b>Technologies:</b> Angular, JavaScript, SASS, Node.js, Express JS, Third Party API</p>
            <div><a href="https://www.youtube.com/watch?v=OkuG3bK02Qs" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2017</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background spotify-old">

          </div>
          <div class="portfolio--desc">
            <h5>Spotify Clone v1 (old)</h5>
            <p><b>Technologies:</b> Angular, JavaScript, Third Party API</p>
            <div><a href="http://ryanthames.com/apps/spoofify/#/home" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2016</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background movie-trivia">

          </div>
          <div class="portfolio--desc">
            <h5>Simple Movie Trivia App</h5>
            <p><b>Technologies:</b> Angular, JavaScript, Third Party API</p>
            <div><a href="http://ryanthames.com/apps/movie-trivia/" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2016</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background tph">

          </div>
          <div class="portfolio--desc">
            <h5>The Potter's House Website</h5>
            <p><b>Technologies:</b> HTML, CSS, JavaScript, Wordpress</p>
            <div><a href="http://thepottershouse.org/" target="_blank"><button class="transparent">View Site</button></a></div>
          </div>
          <div class="portfolio--year-badge">2015</div>
        </div>
      </div>
    </div>
  </div>
</section>
