<canvas #canvas></canvas>
<div class="canvas-overlay"></div>

<section (click)="menuActive = !menuActive" [ngClass]="{ active: menuActive }" class="hamburger-wrapper">
  <div class=hamburger>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</section>

<section class="menu--wrapper" [ngClass]="{ active: menuActive }">
  <ul class=menu--links>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><li>Home</li></a>
    <a routerLink="/portfolio" routerLinkActive="active"><li>Portfolio</li></a>
    <a routerLink="/about" routerLinkActive="active"><li>About</li></a>
  </ul>
</section>

<section class="made-with">
  <p class="made-with--text">Made with</p>
  <a href="https://angular.io/" target="_blank"><i class="fab fa-angular"></i></a>
</section>

<section class="social" [ngClass]="{ 'menu-active': menuActive }">
  <div class=social--icon>
    <a href="https://github.com/rthames62" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class=social--icon>
    <a href="https://www.linkedin.com/in/ryan-thames/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class=social--icon>
    <a href="https://twitter.com/rthames62" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</section>

<main class="router-wrapper">
  <router-outlet></router-outlet>
</main>
